name: Build PR

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.adoc'

jobs:
  build:
    permissions:
      checks: write
      pull-requests: write
      contents: write

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew check

      - name: Enable auto merge for Dependabot PRs
        run: |
          gh pr review --approve "${{ github.event.pull_request.html_url }}"
          gh pr merge --auto --rebase --delete-branch "${{ github.event.pull_request.html_url }}"
        if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
